.blog {
	background-color: rgb(255, 255, 255);
	border-radius: 20px;
}
.blog-img {
	height: 150px;
	width: 100%;
}

.blog:hover {
	border-radius: 10px;
	box-shadow: 5px 5px 10px rgb(197, 194, 194);
	background-color: #ffffff;
	border: 5px solid #fffffd;
	cursor: pointer;
}
