.logo {
	height: 100px;
	margin-left: 30px;
}
.header {
	text-align: center;
	background-color: rgb(224, 243, 241);
}

.navbar a {
	text-decoration: none;
	color: rgb(2, 0, 1);
	font-size: 16px;
}

.navbar a:hover {
	background-color: rgb(168, 224, 222);
}
