.logo {
	height: 150px;
}
.header {
	text-align: center;
	background-color: rgb(244, 255, 230);
}

.navbar a {
	text-decoration: none;
	color: rgb(2, 0, 1);
	font-size: 25px;
	margin-right: 50px;
}

.navbar a:hover {
	background-color: rgb(185, 218, 166);
}
