.footer {
	margin-top: 100px;
	background-color: rgb(158, 211, 204);
	font-size: 20px;
	height: 200px;
}
.detail {
	color: black;
}
.footer-logo {
	height: 70px;
}
p {
	color: black;
}

footer a {
	color: black;
}
