.footer {
	margin-top: 100px;
	background-color: rgb(224, 243, 241);
	font-size: 20px;
	height: 225px;
}
.detail {
	color: black;
}
.footer-logo {
	height: 70px;
}
p {
	color: black;
}

footer a {
	color: black;
}
